/********************************************
    GENERAL STYLES
********************************************/


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom PROPERTIES */
:root {
    --title-color: #e53170;
    --link-color: #00abe9;
}




/* Generics */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}


/********************************************
    UTILITIES
********************************************/

/* Layout */

/* Text */

/* Border */

/* UI */

/* Header */

/* Main */

/* Footer */